@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: local("☺"),
       url('fonts/icomoon.woff') format('woff'),
       url('fonts/icomoon.ttf') format('truetype'),
       url('fonts/icomoon.svg?-77fpet#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}

.icon-pacman:before {
  content: "\e916";
}

.icon-file-text2:before {
  content: "\e926";
}

.icon-folder-download:before {
  content: "\e933";
}

.icon-coin-dollar:before {
  content: "\e93b";
}

.icon-credit-card:before {
  content: "\e93f";
}

.icon-lifebuoy:before {
  content: "\e941";
}

.icon-phone:before {
  content: "\e942";
}

.icon-location:before {
  content: "\e947";
}

.icon-history:before {
  content: "\e94d";
}

.icon-floppy-disk:before {
  content: "\e962";
}

.icon-bubbles4:before {
  content: "\e970";
}

.icon-hour-glass:before {
  content: "\e979";
}

.icon-spinner2:before {
  content: "\e97b";
}

.icon-search:before {
  content: "\e986";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-stats-dots:before {
  content: "\e99b";
}

.icon-cloud-download:before {
  content: "\e9c2";
}

.icon-wondering:before {
  content: "\e9fb";
}

.icon-share:before {
  content: "\ea7d";
}

.icon-share2:before {
  content: "\ea82";
}

.icon-mail:before {
  content: "\ea83";
}

.icon-mail2:before {
  content: "\ea84";
}

.icon-mail4:before {
  content: "\ea86";
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-facebook2:before {
  content: "\ea8d";
}

.icon-facebook3:before {
  content: "\ea8e";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-twitter2:before {
  content: "\ea92";
}

.icon-linkedin:before {
  content: "\eac8";
}

.icon-linkedin2:before {
  content: "\eac9";
}

.icon-file-excel:before {
  content: "\eadd";
}

.icon-podcast:before {
  content: "\e91c";
}

.icon-undo:before {
  content: "\e965";
}

.icon-redo:before {
  content: "\e966";
}

.icon-spinner11:before {
  content: "\e984";
}

.icon-wrench:before {
  content: "\e991";
}

.icon-cogs:before {
  content: "\e995";
}

.icon-aid-kit:before {
  content: "\e998";
}

.icon-stats-dots2:before {
  content: "\e99c";
}

.icon-spoon-knife:before {
  content: "\e9a3";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-accessibility:before {
  content: "\e9b2";
}

.icon-power:before {
  content: "\e9b5";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-menu3:before {
  content: "\e9bf";
}

.icon-menu4:before {
  content: "\e9c0";
}

.icon-sphere:before {
  content: "\e9c9";
}

.icon-loop2:before {
  content: "\ea2e";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-circle-up:before {
  content: "\ea41";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-circle-left:before {
  content: "\ea44";
}

.icon-sad:before {
  content: "\e9e5";
}

.icon-grin:before {
  content: "\e9e9";
}

.icon-cool:before {
  content: "\e9eb";
}

.icon-confused:before {
  content: "\e9f5";
}

.icon-hipster:before {
  content: "\e9f9";
}

.icon-cancel-circle:before {
  content: "\ea0d";
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-chrome:before {
  content: "\eae5";
}

.icon-firefox:before {
  content: "\eae6";
}

.icon-IE:before {
  content: "\eae7";
}

.icon-safari:before {
  content: "\eae9";
}