/** Custom Lemonade **/

.bit-80 {
  width: 80%;
}

.bit-75 {
  width: 75%;
}

.bit-70 {
  width: 70%;
}

.bit-60 {
  width: 60%;
}

.bit-40 {
  width: 40%;
}

.bit-30 {
  width: 30%;
}

.bit-25 {
  width: 25%;
}

.bit-20 {
  width: 20%;
}



/* Landscape mobile & down */
@media (max-width: 480px) {
  .bit-20 {
    width: 100%;
  }
}