doctype html
html
  head
    title Andy Pai

    - description="Andy Pai, Entrepreneur"

    //- Meta
    meta(name="description" content=description)
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width")
    block meta
    
    //- OG
    meta(content="Andy Pai" property="og:title")
    meta(content="website" property="og:website")
    meta(content="http://www.andypai.me" property="og:url")
    meta(property="og:description" content=description)

    //- Favicon
    link(rel="shortcut icon" type="image/ico" href="/favicon.ico")

    block styles

  body
    #wrapper
      block header
      if flash && flash.message
        if flash.type && flash.type == 'success'
          .flash-message.flash-message-success= flash.message
        else
          .flash-message= flash.message
      block content
    block footer
    block scripts