/**
 * Modules
 */

@import '/lib/lemonade/index.css';
@import '/lib/lemonade/custom.css';
@import '/lib/icons/index.css';



/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

/*ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*/
/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}


/**
 * Styles
 */

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

.footer, .push {
  height: 40px;
}

body, label, input {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 42px;
  line-height: 1em;
}

h2 {
  font-size: 34px;
  line-height: 1.5em;
}

h3 {
  font-size: 26px;
  line-height: 1.5em;
}

h4 {
  font-size: 18px;
  line-height: 2em;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}


.flash-message {
  width: 100%;
  background-color: pink;
  color: red;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

.flash-message-success {
  color: green;
  background-color: lightgreen;
}

.show {
  display: block;
}

.hide {
  display: none;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}