@import '/lib/base-layout/index.css';

.Error-404 {
  margin: 80px auto;
  background: #F7F6F6;
  max-width: 750px;
  border-radius: 3px;
}

.Error-404-body {
  padding: 20px 40px;
}


.Error-404-body-content {
  text-align: center;
}


.Error-404-header {
  text-align: center;
  font-size: 8em;
  color: #00B442;
}


.Error-404-subtitle {
  text-align: center;
  font-size: 1.7em;
  font-weight: 500;
  padding: 40px 0 10px;
}

.quote-icon {
  padding: 40px 0 5px 40px;
  text-align: left;
}

.Error-404-quote {
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.Error-404-attribution {
  text-align: right;
  font-size: 1.1em;
  padding: 10px 0 30px;
}

.Error-404-body-content .btn {
  margin: 20px auto;
}

