extend /lib/base-layout/index.jade

append styles
  link(href='/pages/404/404.css' rel='stylesheet')

append scripts
  script(src='/pages/404/404.js' rel='text/javascript')

block content
  .Error-404
    .Error-404-body
      .Error-404-body-content
        h1.Error-404-header(class='icon-confused')
        h2.Error-404-subtitle I can't find what you're looking for...
        .quote
          .quote-icon(class='icon-quotes-left')
          p.Error-404-quote Make the money, don't let the money make you
          p.Error-404-attribution - Macklemore