extend /lib/base-layout/index.jade

append styles
    link(href='/pages/home/home.css' rel='stylesheet')

append scripts  
  script(src='/pages/home/home.js' type='text/javascript')
  
block content
  p Welcome Lapwing!