/**
 * Modules
 */

@import '/lib/lemonade/index.css';
@import '/lib/lemonade/custom.css';
@import '/lib/icons/index.css';

/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

/*ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*/
/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}


/**
 * Styles
 */

html, body {
  height: 100%;
}

#wrapper {
  background: #F7F6F6;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

.footer, .push {
  height: 40px;
}

body, label, input {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 42px;
  line-height: 1em;
}

h2 {
  font-size: 34px;
  line-height: 1.5em;
}

h3 {
  font-size: 26px;
  line-height: 1.5em;
}

h4 {
  font-size: 18px;
  line-height: 2em;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}


.flash-message {
  width: 100%;
  background-color: pink;
  color: red;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

.flash-message-success {
  color: green;
  background-color: lightgreen;
}

.show {
  display: block;
}

.hide {
  display: none;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.IE {
  margin: 0px auto;
  background: #F7F6F6;
  border-radius: 3px;
}

.IE-body {
  padding: 20px 40px;
}


.IE-body-content {
  text-align: center;
}

.IE-header {
  text-align: center;
  font-size: 2.5em;
  color: #00B442;
  margin-bottom: 40px;
}

.IE-graphic {
  position: relative;
  /*display: inline-block;*/
  margin-bottom: 40px;
}

.IE-icon {
  position: absolute;
  bottom: 55%;
  left: 38%;
  color: #F7F6F6;
}

.LR-icon {
  position: absolute;
  bottom: 0;
  left: 18%;
}

.IE-dinosaur {
  position: relative;
  display: inline-block;
}

.IE-download {

}

.IE-download h4 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  max-width: 650px;
  display: block;
  margin: 0 auto;
}

.IE-download a {
  text-decoration: none;
  color: #999999;
}

.IE-download a:hover {
  color: #00B442;
}

.IE-download a:active {
  color: #FFF;
  background: #00B442;
}

.supported-browsers {
  max-width: 450px;
  margin-top: 20px;
}

.browser {
  border: 1px solid #F7F6F6;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  width: 90px;
  height: 76px;
}

.browser:hover {
  border: 1px solid #1D9A52;
}

.browser [class^="icon-"] {
  font-size: 1.6em;
}

.browser-title {
  font-size: 1.2em;
}
