doctype html
html
  head
    title Andy Pai

append styles
  link(href='/pages/ie/ie.css' rel='stylesheet')

append scripts
  script(src='/pages/ie/ie.js' rel='text/javascript')

body
  #wrapper
    .IE
      .IE-body
        .IE-body-content
          h2.IE-header I'm scared of dinosaurs
          .IE-graphic
            .IE-dinosaur
              img(src='/dinosaur.png')
              .IE-icon
                span.icon-IE
          .IE-download
            h4 To ensure you have the best experience, please use one of the following browsers:
            .frame.supported-browsers
              .bit-3
                a(href='https://www.google.com/chrome/browser/').browser
                  p.icon-chrome
                  p.browser-title Chrome
              .bit-3
                a(href='https://www.mozilla.org/en-US/firefox/new/').browser
                  p.icon-firefox
                  p.browser-title Firefox
              .bit-3
                a(href='https://www.apple.com/safari/').browser
                  p.icon-safari
                  p.browser-title Safari
